@font-face {
    font-family: 'Open-Sans';
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Open-Sans';
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: 'Open-Sans';
    src: url(../fonts/Open_Sans/OpenSans-Semibold.ttf);
    font-weight: bold;
}
/*-----------------PORTADA-----------------------*/
* {
    font-family: 'Opens-Sans', sans-serif;
}
.portada .info {
    position: relative;
    bottom: 0;
    height: 110px;
}
.portada .points{
    border-radius: 100%;
    border: 5px solid #de983a;
    padding: 20px 30px;
    float: right;
    position: relative;
    bottom: 120px;
}


.registro h1{
    font-family: 'Open-Sans';
    font-weight:
    font-size: 100px;
}

#login{
    background-image: url(../img/bg_home.jpg);
    background-size:cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#login div a{
    background-color: #000;
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

#login div{
    background-color: red;
    margin: 10px 0;
    width: 200px;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
